#mainWrap {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #ecf0f1;
}

#mainContainer {
	width: 50%;
	background-color: #f3f3f3;
}

.wrapperForTask {
	min-height: 100px;
	border: 2px solid #949494;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow-wrap: break-word;
	text-align: center;
	padding: 0 5% 0 5%;
}

button {
	font-size: 130%;
	background-color: #828181;
	color: #f3f3f3;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	border: 2px solid #f3f3f3;
	border-radius: 10px;
	outline: none;
	width: 16%;
}

button:hover {
	border: 2px solid #949494;
	transition: 0.2s;
}

button:focus {
	outline: none;
}

.textOfTask {
	color: #756d6d;
	font-size: 125%;
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

input {
	margin-bottom: 10px;
	width: 15%;
}

#ageOfTheStudent__Btn {
	width: 19%;
}

#sortLinks__Btn, #locationOfApartment__Btn{
	margin-bottom: 1%;
}

#differenceBetweenTheDates__Btn, #locationOfApartment__Btn {
	font-size: 140%;
	padding: 9px;
}

#differenceDates__firstInput, #differenceDates__secondInput {
	box-sizing: border-box;
	display: inline-flex;
	margin-left: 4%;
	margin-right: 3%;
	width: 28%;
}

label {
	font-size: 117%;
	color: #634949;
}

.differenceDates__label{
	display: inline-flex;
	justify-content: center;
	width: 35%;
}

#zodiacSigns__input {
	width: 17%;
}

.wrapForLocationOfApartment__input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
}

#locationOfApartment__Form {
	display: inline-flex;
}

.wrapForLocationOfApartment__input input {
	width: 100%;
}

#sortLinks__textarea {
	margin-bottom: 10px;
}