#mainWrap {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #ecf0f1;
}

#mainContainer {
	width: 50%;
	background-color: #f3f3f3;
}

.wrapperForTask {
	min-height: 100px;
	border: 2px solid #949494;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow-wrap: break-word;
	text-align: center;
	padding: 0 5% 0 5%;
}

button {
	font-size: 130%;
	background-color: #828181;
	color: #f3f3f3;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	border: 2px solid #f3f3f3;
	border-radius: 10px;
	outline: none;
	width: 125px;
}

button:hover {
	border: 2px solid #949494;
	transition: 0.2s;
}

button:focus {
	outline: none;
}

.textOfTask {
	color: #756d6d;
	font-size: 125%;
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

input {
	margin-bottom: 10px;
	width: 15%;
}

#ageOfTheStudent__Btn {
	width: 160px;
}

#sortLinks__Btn, #locationOfApartment__Btn {
	margin-bottom: 1%;
}

#differenceBetweenTheDates__Btn, #locationOfApartment__Btn {
	font-size: 140%;
	padding: 9px;
}

#differenceDates__form {
	width: 620px;
	display: flex;
	justify-content: space-around;
}

.differenceDates__dateInput {
	width: 180px;
}

.differenceDates__timeInput {
	width: 120px;
}

label {
	font-size: 117%;
	color: #634949;
}

.differenceDates__label {
	width: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#zodiacSigns__input {
	width: 140px;
}

.wrapForLocationOfApartment__input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
}

#locationOfApartment__Form {
	display: inline-flex;
}

.wrapForLocationOfApartment__input input {
	width: 100%;
}

#sortLinks__textarea {
	margin-bottom: 10px;
}

.christmasTreesRow {
	width: 100%;
	display: flex;
	justify-content: center;
}

.christmasTree {
	margin: 10px;
	color: #4a4545
}

#zodiacSignImg {
	width: 17%;
}

.checkerboardCell__white {
	width: 100%;
	background-color: white;
}

.checkerboardCell__black {
	width: 100%;
	background-color: black;
}

.wrapperForCheckerboard__style {
	margin-top: 1%;
	margin-bottom: 1%;
	border: 1px solid black;
}

.sizeOfCheckerboard__label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 200px;
}

.sizeOfCheckerboard__label input {
	width: 100%;
}

#wrapperForInputsOfCheckerboard {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.wrapForInputs__differenceDates {
	display: flex;
	flex-direction: column;
}