@font-face {
  font-family: Kaushan Script;
  src: url('perth_template/fonts/KaushanScript-Regular.otf');
}

@font-face {
  font-family: BLACKJAR;
  src: url('perth_template/fonts/BLACKJAR.TTF');
}

@font-face {
  font-family: Proxima Nova;
  src: url('perth_template/fonts/Proxima Nova Light.otf');
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url('perth_template/fonts/Proxima Nova Bold.otf');
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

header, section, footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

footer {
  min-height: 100px;
}

header, .first-section__content, .second-section__content {
  min-height: 650px;
}

header {
  background: #4eacdd url("perth_template/blue-pattern.jpg");
}

.logo {
  height: 100px;
  width: 100px;
  background-color: white;
  font-weight: bold;
  text-align: center;
  color: #02aae8;
  box-sizing: content-box;
  border-bottom: 5px solid #00abe9;
  box-shadow: 15px 12px 0 -2px #01b1ea;
  cursor: pointer;
}

.logo p {
  font-size: 50px;
  font-family: Kaushan Script, serif;
}

.img__header {
  background: url("perth_template/iphone.png") no-repeat;
  background-position: left 300px top 383px;
}

.wrapper-menu-and-logo__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper-hamburger-menu {
  width: 30px;
  height: 30px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.wrapper-hamburger-menu span {
  background-color: white;
  height: 4px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.wrapper-text-and-btn__header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 230px;
}

.wrapper-text-and-btn__header h1 {
  font-family: BLACKJAR, serif;
  font-size: 70px;
  color: white;
  margin-top: 45px;
  margin-right: -5px;
}

.wrapper-text-and-btn__header h4 {
  margin-top: 20px;
  font-family: Proxima Nova, serif;
  color: white;
  font-size: 220%;
}

.bold-text {
  font-family: Proxima Nova Bold, serif;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.download__btn {
  margin-top: 45px;
  background-color: #00c3e9;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 2px;
  font-family: "Proxima Nova", serif;
  font-size: 94%;
  line-height: 24px;
  outline: none;
}

.fa-cloud-download {
  margin-left: 14px;
}

.fa-envelope {
  margin-left: 18px;
}

.first-section__content {
  flex-direction: row;
/*  background: url("perth_template/ipad.png") no-repeat;
  background-position: right 90px top 150px;*/
  background-color: #f4f4f4;
}

.ipad__img {
  background: url(perth_template/ipad.png) no-repeat;
    background-position: right 0 top 150px;
}

.wrapper-content__first-section {
  margin-top: 140px;
  width: 59.5%;
}

.wrapper-content__first-section h2 {
  font-family: "Proxima Nova", serif;
  font-size: 240%;
  color: #545454;
  margin-bottom: 30px;
}

.wrapper-content__first-section p {
  font-family: "Proxima Nova", serif;
  font-size: 107%;
  color: #7e7e7e;
  margin-bottom: 21px;
  font-weight: 600;
  line-height: 25px;
}

.wrapper__block-qoute {
  display: flex;
  flex-direction: row;
  height: 73px;
  font-style: italic;
}

.border__block-qoute {
  width: 17px;
  margin-right: 17px;
  background-color: #00aee0;
}

.second-section__img {
  margin-top: 272px;
  margin-left: -79px;
  height: 515px;
  width: 1600px;
  background: url("perth_template/devices.png") no-repeat;
}

.send-mail__btn {
  margin-top: 67px;
  background-color: #f4f4f4;
  color: #02b28e;
  padding: 15px 31px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #01b08f;
  border-radius: 2px;
  font-family: "Proxima Nova", serif;
  font-size: 94%;
  line-height: 24px;
  outline: none;
}

.second-section__content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
/*  background: url(perth_template/devices.png) no-repeat;
  background-position: 83px 273px;*/
}

.devices__img {
  background: url(perth_template/devices.png) no-repeat;
  background-position: -10px 273px;
}

.wrapper-content__second-section {
  width: 395px;
  margin-top: 95px;
  float: right;
}

.second-section-title__pc, .second-section-title__phone,
 .first-section-title__phone {
  font-family: "Proxima Nova", serif;
  color: #545454;
  font-size: 244%;
  margin-bottom: 33px;
}

.wrapper-content__second-section p {
  margin-top: 25px;
  font-size: 104%;
  line-height: 25px;
}

.wrapper__block-qoute__second-section {
  margin-top: 10px;
}

.fa-dribbble {
  margin-left: 15px;
}

.view-on-dribbble__btn, .second-dribbble__btn {
  margin-top: 56px;
    background-color: white;
    padding: 14px 31px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ff4b8c;
    border-radius: 2px;
    font-family: "Proxima Nova", serif;
    font-size: 94%;
    font-weight: 600;
    line-height: 24px;
    outline: none;
}

.donation__section {
  justify-content: center;
  min-height: 325px;
  background: #0fad8c url("perth_template/green-pattern.jpg");
}

.donation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 135px;
}

.donation-content h3 {
  font-family: "Proxima Nova", serif;
  font-size: 258%;
  color: white;
}

.donate__btn {
  background-color: #01c2ad;
  color: white;
  padding: 16px 37px;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 2px;
  font-family: "Proxima Nova", serif;
  font-size: 94%;
  font-weight: 600;
  line-height: 24px;
  outline: none;
}

.reset-margin {
  margin: 0 auto;
}

.fa-beer {
  margin-left: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons li {
  width: 55px;
  height: 55px;
  border: 3px solid #575757;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 18px;
  color: #575757;
}

.no-decoration__link {
  text-decoration: none;
  color: #575757;
}

.social-icons__size {
  font-size: 35px;
}

.mail-subscription {
  height: 73px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-subscription label {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.mail-subscription i {
  margin-left: 20px;
  color: #00c7eb;
}

.subscription-text {
  font-family: Proxima Nova Bold, serif;
  font-style: italic;
  font-size: 105%;
  margin-left: -20px;
  color: #575757;
}

.mail-subscription label:after {
  content: "|";
  font-weight: bold;
  margin-left: -80px;
  color: #E1E1E1;
  font-size: 90%;
}

.container__subscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  min-height: 650px;
}

.user-email__input {
  width: 217px;
  height: 43px;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
}

.user-email__input::placeholder {
  font-family: Proxima Nova bold, serif;
  font-weight: bold;
  font-style: italic;
  color: #E1E1E1;
  font-size: 90%;
}

.container__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text__footer {
  font-family: Proxima Nova, serif;
  font-size: 84%;
  font-style: italic;
  margin-top: 11px;
  margin-left: 18.5%;
}

.btn-up {
  margin-top: 7px;
  margin-right: 9%;
  align-self: center;
  background-color: #f4f4f4;
  color: #575757;
  width: 45px;
  height: 45px;
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
  font-size: 140%;
  float: right;
}

.direction-row {
  flex-direction: row;
}

.second-section__container {
  display: block;
  flex-direction: row;
}

.second-dribbble__btn, .second-section-title__phone, 
.first-section-title__phone {
  display: none;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1366px) {
/*  header, section, footer {
    width: 100%;
  }*/

  .second-section__container {
    width: 90%;
  }

  .view-on-dribbble__btn {
    left: 65%;
  }
}

@media screen and (max-width: 1160px) {
  .wrapper-content__first-section {
    width: 43.5%;
  }
  
  .second-section__content {
    background-position: -35px 120px;
    min-height: 500px;
  }

  .wrapper-content__second-section {
    margin-right: -50px;
    margin-top: 45px;
  }

  .devices__img {
    background-position: -10px 106px;
  }

  .view-on-dribbble__btn {
    display: none;
  }

  .second-dribbble__btn {
    display: block;
    margin-top: 200px;
    margin-left: 250px;
  }
}

@media screen and (max-width: 1060px) {
  .second-dribbble__btn {
    margin-top: 310px;
    margin-left: 23px;
  }

  .wrapper-content__second-section {
    float: left;
    margin-right: 0;
    margin-top: 30px;
    margin-left: 175px;
  }

  .second-section-title__pc {
    display: none;
  }

  .second-section-title__phone {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 60px;
    border-bottom: 2px dashed #00c8ee;
  }

  .img__header {
    background-position: left 200px top 383px;
  }
}

@media screen and (max-width: 940px) {
  .container {
    width: 90%;
  }

  .subscription {
    min-height: 320px;
  }

  .send-mail__btn {
    margin-top: 80px;
  }

  .first-section-title__pc, .border__block-qoute {
    display: none;
  }

  .first-section-title__phone {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 60px;
    border-bottom: 2px dashed #00c4ea;
  }
}

@media screen and (max-width: 785px) {
  .wrapper-content__first-section {
    width: 325px;
    float: right;
  }

  .send-mail__btn {
    margin-top: 90px;
    margin-left: 72px;
  }

  .wrapper-text-and-btn__header h1 {
    margin: 0 auto;
  }

  .wrapper-text-and-btn__header {
    align-items: flex-start;
  }

  .download__btn {
    margin-left: 189px;
    margin-top: 190px;
  }
}

@media screen and (max-width: 650px) {
  .download__btn {
    margin-left: 196px;
  }
}

